<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>A Web Page</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=ADLaM Display' rel='stylesheet'>
</head>

<body>
    <div class="container">
        <nav>
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </nav>
        <header>
            <h1>About Me</h1>
        </header>
        <main>
            <section>
                <img id="imgNu" src="~/img/nuinformatico.jpg" alt="nu img">
                <p>Babathy Jones</p>
                <p>I love to code</p>
            </section>
            <aside>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique iure, vel et magnam impedit
                    assumenda, molestiae exercitationem voluptatibus voluptate aliquam consectetur omnis, vitae rem
                    animi quibusdam tempore praesentium blanditiis odio!
                </p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim maiores, illum recusandae unde
                    similique nesciunt perspiciatis repellat mollitia praesentium natus deserunt error dicta nobis ipsam
                    quasi excepturi consequuntur culpa fuga.
                </p>
            </aside>
        </main>

    </div>
</body>

</html>